<div class="container">
  <ng-progress #progressBar color="aqua" height="4px"></ng-progress>
  <div class="wrapper">
    <div class="quote-box">
      <div class="quote-text">
        <i class="fa fa-quote-left quote-icon"></i>
        <span id="quote-text">{{currentQuote}} </span>
      </div>
      <div class="quote-author">
        -<span id="author">{{currentAuthor}}</span>
      </div>
      <div class="row buttons">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-3 thumbs">
              <i class="fa fa-thumbs-o-up icon"></i>
              <p></p>
            </div>
            <div class="col-sm-3 thumbs">
              <i class="fa fa-thumbs-o-down icon"></i>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row button-row">
            <div class="col-sm-2 twitter">
              <a id="tweet-quote" title="Tweet this quote!" target="_blank">
                <i class="fa fa-twitter icon"></i>
              </a>
            </div>
            <div class="col-sm-2 tumblr">
              <a id="tumblr-quote" title="Post this quote on tumblr!" target="_blank">
                <i class="fa fa-tumblr icon"></i>
              </a>
            </div>
            <div class="col-sm-6 btn-div">
              <button>New Quote</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submitter">
      <p>Submitted by <strong>{{currentAuthor}}</strong></p>
    </div>
  </div>
</div>