<div class="container">
  <ng-progress #progressBar color="aqua" height="4px"></ng-progress>
  <div class="wrapper">
    <div class="quote-box">
      <div class="quote-text">
        <i class="fa fa-quote-left quote-icon"></i>
        <span id="quote-text">{{currentQuote}} </span>
      </div>
      <div class="quote-author">
        -<span id="author">{{currentAuthor}}</span>
      </div>
      <div class="buttons">
        <a class="button" id="tweet-quote" title="Tweet this quote!" target="_blank">
          <i class="fa fa-twitter icon"></i>
        </a>
        <a class="button" id="tumblr-quote" title="Post this quote on tumblr!" target="_blank">
          <i class="fa fa-tumblr icon"></i>
        </a>
        <button class="button" id="new-quote">New quote</button>
      </div>
    </div>
    <div class="submitter">
      <p>Submitted by <strong>{{currentAuthor}}</strong></p>
    </div>
  </div>
</div>