<div class="container">
  <div class="wrapper">
    <div class="quote-box">
      <div class="quote-text">
        <i class="fa fa-quote-left quote-icon"></i>
        <span id="quote-text"></span>
      </div>
      <div class="quote-author">
        -<span id="author"></span>
      </div>
      <div class="row buttons">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-3 thumbs">
              <i class="fa fa-thumbs-o-up icon"></i>
              <p>1579</p>
            </div>
            <div class="col-sm-3 thumbs">
              <i class="fa fa-thumbs-o-down icon"></i>
              <p>2</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row button-row">
            <div class="col-sm-5 button">
              <button>New Quote</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submitter">
      <p>Submitted by <strong>Winter Sun</strong></p>
    </div>
  </div>
</div>

