/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
}

div {
  position: relative;
  z-index: 2;
}

body {
  background-color: #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}

.quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75rem;
}

.quote-icon {
  font-size: 1em;
  margin-right: 0.4em;
  cursor: pointer;
}

.quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

.buttons {
  width: 450px;
  margin: auto;
  display: block;
}

.button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

#tweet-quote,
#tumblr-quote {
  float: left;
  padding-bottom: 0.5em;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
}

#new-quote {
  float: right;
}
.submitter {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  color: white;
  font-size: 0.8rem;
} 
.twitter {
  padding: 3px;
  padding-bottom: 4px;
}



/* .buttons {
  width: 450px;
  margin: auto;
  padding: 2em;
}
button {
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 1em;
  opacity: 1;
  padding: 0.5em;
  width: 7em;
  align-items: baseline;
  }
  .btn-div {
    padding-right: 1em;
  }
.thumbs {
  float: left;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
}


.twitter {
  margin-left: 1em;
  padding-right: 3px;
}
.tumblr {
  margin: 3px;
} */
